/* CUSTOM FONTS */
@font-face {
		font-family: 'CasperBold';
		src: url('casperbold.eot');
		src: url('casperbold.eot?#iefix') format('embedded-opentype'),
				 url('casperbold.woff') format('woff'),
				 url('casperbold.ttf') format('truetype'),
				 url('casperbold.svg#casperbold') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'Casper';
		src: url('casper.eot');
		src: url('casper.eot?#iefix') format('embedded-opentype'),
				 url('casper.woff') format('woff'),
				 url('casper.ttf') format('truetype'),
				 url('casper.svg#casper') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'ProximaNova-Bold';
		src: url('proximanovaboldwebfont.eot');
		src: url('proximanovaboldwebfont.eot?#iefix') format('embedded-opentype'),
				 url('proximanovaboldwebfont.woff') format('woff'),
				 url('proximanovaboldwebfont.ttf') format('truetype'),
				 url('proximanovaboldwebfont.svg#proximanovaboldwebfont') format('svg');
		font-weight: normal;
		font-style: normal;
}
/* END OF CUSTOM FONTS */
body {
	background-color:#fff;
	font-family:'CasperBold';
	font-weight:500;
	font-size: 14px;
	color:#494949;
	text-align:center;
}
input {outline:none;}
.body-with-footer {background-color:#77ced8; }
.text-thin {font-family: 'Casper'; font-weight:400;}
#mainContainer {width:auto; height:auto; position:relative; top:0; left:0; margin:0; padding-bottom:60px; background-color:#fff;}
.main-no-bottom {padding-bottom:0px !important;}
#mainContainer .top {position:fixed; display:block; z-index:2000; width:100%; height:60px; background-color:#f2f2f2;}
#mainContainer .top .top-center {position:relative; max-width:1000px; height:60px; margin:0 auto; text-align:left; font-size:0px;}
#mainContainer .top .top-center .icon-epitch {position:relative; display:inline-block; vertical-align:top; width:118px; height:24px; left:12px; top:18px; }
#mainContainer .top .top-center .presentation-name {position:relative; display:inline-block; vertical-align:top; margin:0 10px 0 30px; width:240px; height:60px; line-height:60px; font-size:13px; color:#575757; white-space:nowrap;}
#mainContainer .top .top-center .top-center-right {position:relative; display:inline-block; vertical-align:top; width:calc(100% - 400px); text-align:right;}
#mainContainer .top .top-center .top-center-right .btn {position:relative; display:inline-block; vertical-align:top; width:116px; height:60px; line-height:60px; margin:0px; font-size:13px; text-align:center; text-transform:uppercase; text-decoration:none; }
#mainContainer .top .top-center .btn-blue {color:#fff; background-color:#77cdd7; transition:background-color 0.3s;}
#mainContainer .top .top-center .btn-grey {color:#fff; background-color:#565656; transition:background-color 0.3s;}
#mainContainer .top .top-center .btn-blue:hover {background-color:#469fa9; }
#mainContainer .top .top-center .btn-grey:hover {background-color:#4a4a4a; }

#mainContainer .top .top-center .top-center-right .mycontrol {z-index:2000; position:relative; display:inline-block; vertical-align:top; width:282px; height:60px; overflow:hidden; text-align:left; color:#575757; font-family:'CasperBold'; font-size:13px; }
#mainContainer .top .top-center .top-center-right .mycontrol .myaccount {display:block; position:relative; width:282px; height:60px; background-color:#e7e7e7;}
#mainContainer .top .top-center .top-center-right .mycontrol .myaccount p {position:relative; display:inline-block; vertical-align:middle;}
#mainContainer .top .top-center .top-center-right .mycontrol .myaccount .team-logo {width:28px; height:36px; margin:0px 15px; background-image:url(../images/team-logo-small.png); background-size:contain; background-position:center; background-repeat:no-repeat;}
#mainContainer .top .top-center .top-center-right .mycontrol .myaccount .myinfo {width:202px; height:36px; padding:12px 5px; line-height:16px;}
#mainContainer .top .top-center .top-center-right .mycontrol .myaccount .myinfo .myteam {display:block; font-family:'Casper';}
#mainContainer .top .top-center .top-center-right .mycontrol .myaccount .arrow-down {display:block; position:absolute; right:25px; top:25px;}
#mainContainer .top .top-center .top-center-right .mycontrol .control-btn {display:block; width:242px; height:40px; line-height:40px; padding:0px 20px; background-color:#f2f2f2; border-bottom:2px solid #e7e7e7; }
#mainContainer .top .top-center .top-center-right .mycontrol a {text-decoration:none; color:#575757;}

#mainContainer .bottom {position:fixed; display:block; z-index:2000; bottom:0px; width:100%; height:60px; background-color:#565656; margin-top:20px;}
#mainContainer .bottom .bottom-center {position:relative; max-width:1000px; height:60px; margin:0 auto; text-align:left; font-size:0px;}
#mainContainer .bottom .bottom-center .bottom-btn {position:relative; display:inline-block; transition:background-color 0.3s; vertical-align:top; margin:0px; width:116px; height:20px; background-color:#77cdd7; font-size:13px; line-height:20px; text-align:center; padding:20px 0; color:#fff; text-transform:uppercase; text-decoration:none; }
#mainContainer .bottom .bottom-center .bottom-btn:hover {background-color:#469fa9; }
#mainContainer .bottom .bottom-center .bottom-btn img {position:relative; display:inline-block; vertical-align:middle;}
#mainContainer .bottom .bottom-center #btnBack img {position:relative; display:inline-block; vertical-align:middle; margin-right:5px;}
#mainContainer .bottom .bottom-center #btnNext img {position:relative; display:inline-block; vertical-align:middle; margin-left:5px;}
#mainContainer .bottom .bottom-center .step-indicator {position:relative; display:inline-block; vertical-align:top; margin:0px; width:calc(100% - 232px); height:60px; text-align:center;}
#mainContainer .bottom .bottom-center .step-indicator img {position:relative; display:inline-block; margin:25px 5px; opacity:.5;}
#mainContainer .bottom .bottom-center .step-indicator .my-step {opacity:1;}

#mainContainer .mainContent {position:relative; display:block; width:1000px; margin:0 auto; text-align:left; padding:80px 20px 20px 20px; font-family: 'Casper'; color:#575757; font-size:17px; }
#mainContainer .mainContent .line-break-grey {position:relative; display:block; width:100%; height:1px; background-color:#f2f2f2; margin:20px 0; }
#mainContainer .mainContent .page-title {font-family: 'CasperBold'; color:#77cdd7; font-size:29px; line-height:30px; margin:20px 20px 20px 10px;}
#mainContainer .mainContent .page-title img {position:relative; display:inline-block; margin:0 10px 4px 0; vertical-align:middle;}

#mainContainer .mainContent .page-note {margin-bottom:20px;}
#mainContainer .mainContent .page-note a {color:#77cdd7;}

.pop-library {position:fixed; display:none; z-index:3000; left:0; top:0px; width:100%; height:100%; background-image:url(../images/grey50.png);}
.pop-library .library {position:absolute; display:block; width:970px; height:570px; top:20px; background-color:#fff; border-radius:5px;}
.pop-library .library .library-top {position:relative; display:block; width:calc(100% - 40px); height:26px; text-align:left; margin:10px 0px 10px 20px; padding:0; font-family:'CasperBold'; font-size:24px; line-height:24px; color:#b0b0b0;}
.pop-library .library .library-top img {display:inline-block; position:relative; vertical-align:middle;}
.pop-library .library .library-top span {display:inline-block; width:902px;}
.pop-library .library .library-top span img {margin-right:15px;}
.pop-library .library .library-btns {position:relative; display:block; width:calc(100% - 30px); height:60px; background-color:#ededed; text-align:left; padding:0 15px;}
.pop-library .library .library-btns a {position:relative; display:inline-block; vertical-align:middle; width:150px; height:30px; line-height:30px; text-align:center; font-family:'ProximaNova-Bold'; text-transform:uppercase; font-size:13px; color:#fff; text-decoration:none; border-radius:5px; margin:15px 1px;}
.pop-library .library .library-btns .btn-on {background-color:#77cdd7;}
.pop-library .library .library-btns .btn-off {background-color:#575757;}
.pop-library .library .library-btns .btn-submit-input {width:100px;}
.pop-library .library .library-btns .input-field {position:relative; display:inline-block; vertical-align:middle; width:300px; height:31px; border-radius:5px; background-color:#fff;}
#pop-library .library .library-btns .input-field {margin:0px 1px 0px 64px; background-image:url(../images/icon-search.png); background-repeat:no-repeat;}
#pop-intro .library .library-btns .input-field {margin:0px 1px 0px 1px; }
.pop-library .library .library-btns .input-field .library-input {display:block; position:relative; width:calc(100% - 30px); height:31px; line-height:31xp; color:#585858; background:none; border:0px;}
#pop-library .library .library-btns .input-field .library-input {margin-left:30px;}
#pop-intro .library .library-btns .input-field .library-input {margin-left:5px;}
.pop-library .library .library-thumbs {display:block; position:relative; width:960px; margin:20px auto; text-align:left;}
.pop-library .library .library-thumbs .file {position:relative; display:inline-block; width:224px; height:200px; margin:5px;}
.pop-library .library .library-thumbs .file .thumb {position:relative; display:block; width:214px; height:140px; padding:5px;}
.pop-library .library .library-thumbs .file .thumb-normal {background-color:#ededed;}
.pop-library .library .library-thumbs .file .thumb-over {background-color:#77cdd7;}
.pop-library .library .library-thumbs .file .thumb .select-media {position:absolute; display:none; top:5px; right:5px;}
.pop-library .library .library-thumbs .file .thumb .btn-edit {position:absolute; display:none; width:58px; height:32px; line-height:32px; right:0; bottom:0; background-color:#ededed; border-radius:5px; color:#575757; font-family: 'ProximaNova-Bold'; font-size:13px; text-transform:uppercase; text-decoration:none; text-align:center;}
.pop-library .library .library-thumbs .file .thumb .btn-edit-normal {background-color:#ededed; color:#575757;}
.pop-library .library .library-thumbs .file .thumb .btn-edit-over {background-color:#77cdd7; color:#fff;}
.pop-library .library .library-thumbs .file p {position:relative; display:block; overflow:hidden; width:214px; height:22px; line-height:22px; font-size:13px; color:#606060; text-align:left; margin:10px 5px; white-space:nowrap;}
.pop-library .library .library-thumbs .file p .icon-signage {position:relative; /*display:inline-block;*/ display:none; vertical-align:middle; margin-right:5px;}
.pop-library .library .library-thumbs .file .thumb .file-thumb {position:relative; display:block; width:214px; height:140px; background-image:url(../images/blank.png); background-repeat:no-repeat; background-size:cover; /*background-position:center; background-size:contain;*/}

.pop-library .library .btnPrev {display:none; position:absolute; bottom:20px; left:20px; color:#575757; line-height:20px; text-align:right; text-decoration:none; text-transform:uppercase;}
.pop-library .library .btnPrev img {display:inline-block; vertical-align:middle;}
.pop-library .library .btnMore {display:none; position:absolute; bottom:20px; right:20px; color:#575757; line-height:20px; text-align:right; text-decoration:none; text-transform:uppercase;}
.pop-library .library .btnMore img {display:inline-block; vertical-align:middle;}
.pop-library .file-title {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

#pop-intro .library .confirm-video-btns {display:none;}
#pop-intro .library .confirm-video-btns .new-video {display:inline-block; position:relative; vertical-align:middle; width:100px; height:50px; background-repeat:no-repeat; background-size:contain; background-position:center;}

.pop-up {display:none; position:fixed; font-family:'CasperBold'; font-size:13px; left:0px; top:0px; width:100%; height:100%; background:rgba(0,0,0,.8); text-transform:none;}
.pop-up .pop-up-box {position:absolute; width:360px; max-width:360px; height:auto; left:calc(50% - 180px); top:calc(50% - 100px); background-color:#fff; text-align:center; padding:20px; color:#585858; border-radius:5px;}
.pop-up .pop-up-box .pop-up-message {position:relative; width:auto; line-height:14px; color:#77cdd7;}
.pop-up .pop-up-box .myinput {display:block; position:relative; width:calc(100% - 24px);  margin-top:10px; height:32px; line-height:32xp; color:#585858; background:none; border:2px solid #585858; border-radius:5px; padding:0px 10px;}
.pop-up .pop-up-box a {display:inline-block; position:relative; transition:background-color 0.3s; width:calc(50% - 5px); height:32px; line-height:32px; font-family: 'ProximaNova-Bold'; text-align:center; border-radius:5px; color:#fff; text-transform:uppercase; text-decoration:none; margin-top:20px}
.pop-up .pop-up-box .btn-cancel {background-color:#666666; margin-right:5px;}
.pop-up .pop-up-box .btn-cancel:hover {background-color:#575757;}
.pop-up .pop-up-box .btn-yes {background-color:#77cdd7;}
.pop-up .pop-up-box .btn-ok {background-color:#77cdd7;}
.pop-up .pop-up-box .btn-yes:hover {background-color:#469fa9;}
.pop-up .pop-up-box .btn-ok:hover {background-color:#469fa9;}

#pop-exit {z-index:9990;}
#pop-action {z-index:9991;}
#pop-up {z-index:9993;}

.flash-msg {display:none; position:fixed; left:20px; top:80px; width:auto; z-index:9992; font-family: 'Casper'; color:#fff; font-size:15px; line-height:30px; background-color:#77d789; padding:5px 10px; border-radius:5px; }
.flash-msg img {display:inline-block; position:relative; vertical-align:middle; margin-right:10px;}
.flash-msg .pop-up-message {overflow:hidden; white-space:nowrap;}

#mainContainer .footer {position:relative; display:block; width:auto; height:autopx; background-color:#77ced8; margin-top:60px; padding:30px 10px; font-family:'Casper'; color:#5999a0; font-size:12px;}
#mainContainer .footer a {color:#5999a0; text-decoration:none;}
#mainContainer .footer .footer-logo {position:relative; display:block; margin-top:30px;}

.text-black {color:#575757 !important;}
.text-blue {color:#77cdd7 !important;}